<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

<ipython-input-1-7dd3504c366f>:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [6]:
# your code goes here
duplicate_rows = df[df.duplicated()]
print('Duplicate Rows:')
print(duplicate_rows)

Duplicate Rows:
      Respondent                                         MainBranch Hobbyist  \
1168        2339                     I am a developer by profession      Yes
1169        2342                     I am a developer by profession      Yes
1170        2343                     I am a developer by profession      Yes
1171        2344                     I am a developer by profession      Yes
1172        2347                     I am a developer by profession      Yes
...          ...                                                ...      ...
2297        4674  I am not primarily a developer, but I write co...      Yes
2298        4675                     I am a developer by profession      Yes
2299        4676                     I am a developer by profession      Yes
2300        4677                     I am a developer by profession      Yes
2301        4679                     I am a developer by profession      Yes

                                            OpenSourcer  \
1168                         Once a month or more often
1169                                              Never
1170  Less than once a month but more than once per ...
1171                                              Never
1172                                              Never
...                                                 ...
2297                            Less than once per year
2298                                              Never
2299                                              Never
2300                         Once a month or more often
2301  Less than once a month but more than once per ...

                                             OpenSource          Employment  \
1168  OSS is, on average, of HIGHER quality than pro...  Employed full-time
1169  The quality of OSS and closed source software ...  Employed full-time
1170  OSS is, on average, of LOWER quality than prop...  Employed full-time
1171  The quality of OSS and closed source software ...  Employed full-time
1172  OSS is, on average, of HIGHER quality than pro...  Employed full-time
...                                                 ...                 ...
2297  The quality of OSS and closed source software ...  Employed full-time
2298  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2299  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2300  OSS is, on average, of HIGHER quality than pro...  Employed full-time
2301  The quality of OSS and closed source software ...  Employed full-time

             Country Student  \
1168   United States      No
1169  United Kingdom      No
1170          Canada      No
1171   United States      No
1172  United Kingdom      No
...              ...     ...
2297      Bangladesh      No
2298   United States      No
2299         Finland      No
2300  United Kingdom      No
2301   United States      No

                                                EdLevel  \
1168  Some college/university study without earning ...
1169  Some college/university study without earning ...
1170        Master’s degree (MA, MS, M.Eng., MBA, etc.)
1171           Bachelor’s degree (BA, BS, B.Eng., etc.)
1172        Master’s degree (MA, MS, M.Eng., MBA, etc.)
...                                                 ...
2297           Bachelor’s degree (BA, BS, B.Eng., etc.)
2298           Bachelor’s degree (BA, BS, B.Eng., etc.)
2299        Master’s degree (MA, MS, M.Eng., MBA, etc.)
2300           Bachelor’s degree (BA, BS, B.Eng., etc.)
2301        Master’s degree (MA, MS, M.Eng., MBA, etc.)

                                         UndergradMajor  ...  \
1168  Computer science, computer engineering, or sof...  ...
1169  Information systems, information technology, o...  ...
1170  Computer science, computer engineering, or sof...  ...
1171  Computer science, computer engineering, or sof...  ...
1172  Computer science, computer engineering, or sof...  ...
...                                                 ...  ...
2297                                                NaN  ...
2298  Information systems, information technology, o...  ...
2299  Another engineering discipline (ex. civil, ele...  ...
2300  A natural science (ex. biology, chemistry, phy...  ...
2301  Computer science, computer engineering, or sof...  ...

                                 WelcomeChange  \
1168   Just as welcome now as I felt last year
1169  Somewhat more welcome now than last year
1170  Somewhat more welcome now than last year
1171   Just as welcome now as I felt last year
1172   Just as welcome now as I felt last year
...                                        ...
2297  Somewhat less welcome now than last year
2298   Just as welcome now as I felt last year
2299  Somewhat less welcome now than last year
2300   Just as welcome now as I felt last year
2301   Just as welcome now as I felt last year

                                           SONewContent   Age Gender Trans  \
1168                                                NaN  24.0    Man    No
1169  Tech meetups or events in your area;Courses on...  24.0    Man    No
1170  Tech articles written by other developers;Indu...  27.0    Man    No
1171  Tech articles written by other developers;Indu...  24.0    Man    No
1172                                                NaN   NaN  Woman    No
...                                                 ...   ...    ...   ...
2297  Tech articles written by other developers;Indu...  31.0    Man    No
2298                Tech meetups or events in your area  27.0    Man    No
2299                                                NaN  36.0    Man    No
2300                                                NaN  40.0    Man    No
2301                                                NaN  27.0    Man    No

                                            Sexuality  \
1168                          Straight / Heterosexual
1169                          Straight / Heterosexual
1170                          Straight / Heterosexual
1171                          Straight / Heterosexual
1172                          Straight / Heterosexual
...                                               ...
2297  Bisexual;Gay or Lesbian;Straight / Heterosexual
2298                          Straight / Heterosexual
2299                          Straight / Heterosexual
2300                          Straight / Heterosexual
2301                                              NaN

                                              Ethnicity Dependents  \
1168                       White or of European descent         No
1169                       White or of European descent         No
1170  Black or of African descent;White or of Europe...         No
1171                       White or of European descent         No
1172                                           Biracial         No
...                                                 ...        ...
2297  Black or of African descent;Hispanic or Latino...        Yes
2298                       White or of European descent         No
2299                       White or of European descent        Yes
2300                       White or of European descent        Yes
2301                       White or of European descent         No

               SurveyLength                  SurveyEase
1168  Appropriate in length                        Easy
1169               Too long                        Easy
1170  Appropriate in length  Neither easy nor difficult
1171  Appropriate in length                        Easy
1172               Too long                        Easy
...                     ...                         ...
2297               Too long  Neither easy nor difficult
2298  Appropriate in length                        Easy
2299               Too long                        Easy
2300  Appropriate in length                        Easy
2301  Appropriate in length                        Easy

[154 rows x 85 columns]

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
# your code goes here
df_nd = df.drop_duplicates()
df = df_nd

Verify if duplicates were actually dropped.

In [9]:
# your code goes here
n_duplicates = df_nd.duplicated().sum()
if n_duplicates == 0:
    print ('Duplicates were dropped')
else:
    print(f'{remaining_duplicates} duplicate rows are still present in the DataFrame.')

Duplicates were dropped

## Finding Missing values

Find the missing values for all columns.

In [10]:
# your code goes here
missing_per_column = df.isnull().sum()
print('Missing values per column:')
print(missing_per_column)

Missing values per column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
# your code goes here
missing_in_workloc = df['WorkLoc'].isnull().sum()
print(f'Number of missing values in the "WorkLoc" column: {missing_in_workloc}')

Number of missing values in the "WorkLoc" column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [12]:
# your code goes here
value_counts = df['WorkLoc'].value_counts()
print('Value counts in the WorkLoc column:')
print(value_counts)

Value counts in the WorkLoc column:
WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [13]:
#make a note of the majority value here, for future reference
#
most_frequent_value = df['WorkLoc'].value_counts().idxmax()
print(f'The most frequent value in the "WorkLoc" column is: {most_frequent_value}')

The most frequent value in the "WorkLoc" column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [16]:
# your code goes here
import numpy as np
df['WorkLoc'].replace(np.nan, most_frequent_value, inplace=True)

<ipython-input-16-a924c652d53c>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['WorkLoc'].replace(np.nan, most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [17]:
# your code goes here
remaining_missing = df['WorkLoc'].isnull().sum()
if remaining_missing == 0:
    print('All missing values have been successfully imputed.')
else:
    print(f'There are still {remaining_missing} missing values in the "WorkLoc" column.')

All missing values have been successfully imputed.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
# your code goes here
comp_freq_categories = df['CompFreq'].unique()
print('Categories in CompFreq:', comp_freq_categories)

Categories in CompFreq: ['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [19]:
# your code goes here
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return np.nan  # Handle unexpected cases

df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>